audio { display:none;}
a:link    {color:#FF0000;  text-decoration:none}
a:visited {color:#FF0000; text-decoration:none}
a:hover   {color:#FF0000; text-decoration:underline} /* Yellow */
decoration:underline} /* Yellow */
i { font-size: 50px; }
li.social-icon i { font-size: 50px; }
/* ----------------------------- */
html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
  font-size: 25%;

 background-image: url("https://static.pexels.com/photos/110854/pexels-photo-110854-medium.jpeg");
  
   /* image in the container */
   background-size: contain;
   background-attachment: fixed;
    /* The universe is black */
    background-color: black;  
}
ul li a {
  position: bottom;
  width:60px;
  height:60px;
  display:block;
    text-align:center;}
ul {
  font-size: 100px;  
  position:bottom;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
  display:flex;
}
    
