audio { display:none;}
html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
  font-size: 100%;

    background-image: url("https://static.pexels.com/photos/110854/pexels-photo-110854-medium.jpeg");
  
   /* image in the container */
   background-size: contain;
   background-attachment: fixed;
    /* The universe is black */
    background-color: black;  
}
html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
  font-size: 100%;

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background-color: rgba(255, 0, 0, 0.05);
}

body {
  margin:0;
  padding:0;
  background: #000000;
}

ul li:nth-child(1) .fab {
  color: #3b5998;
}

ul li:nth-child(2) .fab {
  color: #00aced;
}

ul li:nth-child(3) .fab {
  color: #dd4b39;
}

ul li:nth-child(4) .fab {
  color: #FF0000;
}

ul li:nth-child(5) .fab {
  color: #FF00FF;
}
